@font-face {
    font-family: 'cb-lcars_bajoran_ideogram';
    src: url('/hacsfiles/cb-lcars/fonts/st_bajoran_ideogram_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}