@font-face {
    font-family: 'cb-lcars_bajoran_ancient';
    src: url('/hacsfiles/cb-lcars/fonts/startrek_bajoran_ancient_i_canon_based-webfont.woff2') format('woff2'),
         url('/hacsfiles/cb-lcars/fonts/startrek_bajoran_ancient_i_canon_based-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}