@font-face {
    font-family: 'cb-lcars_microgramma';
    src: url('/hacsfiles/cb-lcars/fonts/microgramma_d_extended_bold-webfont.woff2') format('woff2'),
         url('/hacsfiles/cb-lcars/fonts/microgramma_d_extended_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}